/*Color Pallet:
    #98c1d9 - Pale Cerulean
    #6969b3 - Toolbox
    #533a7b - cyber Grape
    #4b244a - Purple Taupe
    #25171a - Eerie Black
*/

body {
    background-image: url(../images/52b2f017cb70aead900d06a78e728d5e.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*Need to properly size the background image*/
    background-color: rgb(114, 112, 112);
    color: #777;
    margin: auto;
    height: 100%;
}

header {
    width: 100%;
    background-color: #25171a;
    color: #98c1d9; 
    margin-bottom: 30px;
    overflow: auto;
    height: 90px;
}

main {
    background-color: #533a7b;
    color: #98c1d9;
    display: block;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: #dddddd;
    overflow: auto;
    border-radius: 5px;
}

p {
    margin: 15px;
/*
    margin-right: 15px;
    margin-left: 15px;
*/
}


footer {
    background-color: #25171a;
    border-top: 5px solid #484ab6;
    color:#98c1d9;
    padding-top: 20px;
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    text-align: center
}

/* ID's */

#lettersToGuess {
    margin: 15px;
    height: 50px;
    text-align: center;
    border-style: solid;
}

#guessedLetters {
    margin: 15px;
    height: 35px;
    text-align: center;
}

#stage {
    height: 500px;
    opacity: .95;
}

#information{
    text-align: center;
    display: block;
    height: 200px;
}



/* Classes */

.hide {
    display: none;
}

.container {
    min-height: 100%;
    overflow: hidden;
}

.row {
    
}

/* @media queries */